#page {width:100%}
#header {width: 100%;
		height: 100px;}
#logo {width:200%;
		height: 50%;
		float: left}
#go		{width: 50px;
		height: 50px;
		float: right}
#search {width: 200px;
		height: 20px;
		float: right;
		border-radius: 8px;}

#log_in {width: 200px;
		 height:19px;
		 float:right;}
.cleaner{clear:both;}
#okvir {width: 100%;
		border: 1px solid #b20000;
		margin: Opx auto}
#meni {width: 80%;
	  height: 51px;
	   text-align: center;
	   }
#meni ul li { margin:0px auto;
		height:50%;
		padding:1% 2% 2% 1%;
		list-style-type: disc;
		display: inline;
		float: left;}
#meni ul li a {text-decoration: none;
			text-transform: uppercase;
			text-align:center;
			display: block;
			color: #eafbfb}
li a:hover {
    background-color: blue;
	color: blue;
}


#okvir {background-image: url(2.png);
		background-repeat: repeat-x;}
		

#middle {width:100%;}
		
#banner{
	width:14%;
	float:right;
	padding:3px;
	background-color: white;
	border-radius:9px;
	text-align: justify;
	margin:5px;
	border:1px;
	padding:3px}

#slider{
	width:80%;
	height:80%;
	float:right;
	margin: 5px;
	position:absolute}
	
#slider img {
			width: 80%;
			height: 80%;
			border-radius:6px;
			float: right;}
#left{width:180px;
float:left;
border:1px solid #000;
border-radius:8px;
box-shadow: 10px ;
margin: 10px;
padding: 10px;
position:relative;}
#footer{
width:100%;
height:10px;
margin:2px solid;
backround-color: gray}


